.bg-black { background-color: $black; }
.bg-black-2 { background-color: $black-2; }

.text {
    &-hide {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
    }
}