// Base
@import "common/base";

$css-root-path: '' !default;

// Common
@import "common/mixins";
@import "common/functions";

@import "common/typography";
@import "common/utilities";

// Components
@import "components/page";
@import "components/buttons";
@import "components/link";
@import "components/icons";
@import "components/form";
@import "components/product-card";

@import "components/header";
@import "components/footer";

.parent .child {}
.parent > .child {}